/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

----------------------RESET ENDS HERE--------------------------------------------

html {
	background-color: red;
}

.wrapper {
	background: #FFF;
	max-width: 1200px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.hero {
	background: linear-gradient(-225deg, rgba(255,255,255,0.00) 0%, rgba(237,232,255,0.81) 100%);
	background-image: url(https://cloud.githubusercontent.com/assets/21408785/18157954/d828184a-6fe5-11e6-868f-e860feb7e547.png);
	background-repeat: no-repeat;
	max-height: 553px;
	width: 100%;
	padding: 100px;

}

h1 {
	font-family: "dancing script", "Avenir", "Lato", sans-serif;, sans serif;
	font-size: 40px;
	font-weight: 500;
	line-height: 1.5;
	color: #6737b5;
}

h2 {
	font-family: "Avenir", "Lato", sans-serif;, sans serif;
	font-size: 28px;
	font-weight: 500;
	line-height: 1.5;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #6737b5;
}

p {
	font-family: "Avenir", "Lato", sans-serif;, sans serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.5;
	color: #6737b5;
	max-width: 520px;
}

a {
	font-family: "Avenir", "Lato", sans-serif;, sans serif;
}

a:hover {
	text-decoration: none;
}

.hero-paragraph {
	width: 40%;
	margin-bottom: 44px;
}

.btn-link {
	text-align: center;
	color: white;
	background: #D4B9FF;
	box-shadow: 0px 2px 4px 0px #A66EFF;
	border: none;
	font-family: "Avenir", "Lato", sans-serif;;
	font-size: 16px;
	padding: 18px 21px;
	text-decoration: none;
	text-transform: uppercase;
}


.navigation {
  list-style: none;
  margin: 10px; 
  
  background: white;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}

.navigation li:first-of-type {
	flex:1;
	align-self: center;
	font-size: 24px;
	font-family: "dancing script", cursive;
	margin-left: 16px;
	color: #6737b5;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: #6737b5;
  font-size: 14px;
}

.navigation a:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
    cursor: pointer;
  }

  
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

.bottom {
	display: flex;
	margin-top: 30px;
}

.donate {
	max-width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: flex-start;
	flex-grow: 1;
	text-align: center;
	margin: 20px;
	margin-left: 50px;
	margin-right: 50px;
}

.donate p {
	font-size: 16px;
	text-align: left;
	margin-top: 10px;
	margin-left: -20px;
	color: grey;
	font-style: italic;
}

.awareness {
	max-width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	text-align: left;
	margin: 20px;
	margin-right: 50px;
	margin-left: 50px;
}

.awareness p {
	font-size: 16px;
}

.book-icon {
	background-image: url(https://cloud.githubusercontent.com/assets/21408785/18158243/a963e582-6fe7-11e6-9d76-b209a50bada1.png);
	background-repeat: no-repeat;
	width: 119px;
	height: 119px;
}

.awareness-icon {
	background-image: url(https://cloud.githubusercontent.com/assets/21408785/18158242/a9627846-6fe7-11e6-9071-93085f28f7ed.png);
	background-repeat: no-repeat;
	width: 119px;
	height: 119px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid white;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-top: 20px;
    padding: 0;
}


.pink-link {
	color: #6737b5;
	text-decoration: none; 
	background: url(https://cloud.githubusercontent.com/assets/21408785/18157953/d82665b8-6fe5-11e6-9b3e-350e2fbbe541.png) repeat-x 100% 100%;
	white-space: nowrap;
}

ol {
	text-align: left;
	list-style:	decimal;
	font-family: "Avenir", "Lato", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    color: #6737b5;
    max-width: 520px;
}

.learn-more {
	text-align: center;
	font-family: "Avenir", "Lato", sans-serif;, sans serif;
}

h3 {
	font-family: "Avenir", "Lato", sans-serif;, sans serif;
	font-size: 21px;
	font-weight: 500;
	line-height: 24px;
	color: #6737b5;
	margin-top: 24px;
	margin-bottom: 18px;
}

.learn-more a {
	font-family: "Avenir", "Lato", sans-serif;, sans serif;
	color: #6737b5;
	text-decoration: none;
	margin-right: 30px;
	background: url(https://cloud.githubusercontent.com/assets/21408785/18157953/d82665b8-6fe5-11e6-9b3e-350e2fbbe541.png) repeat-x 100% 100%;
	white-space: nowrap;
}

.learn-more a:hover {
	cursor: pointer;
}









